<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="articles.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let article of articles">
    <mat-expansion-panel-header>{{ article.title }}</mat-expansion-panel-header>
    <div class="article-image">
      <img [src]="article.imagePath" [alt]="article.title" />
    </div>
    <p>{{ article.content }}</p>
    <mat-action-row>
      <a mat-button color="accent" [routerLink]="['/edit', article.id]">EDIT</a>
      <button mat-button color="warn" (click)="OnDelete(article.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="articles.length <= 0 && !isLoading">
  No articles added yet!
</p>
